<!DOCTYPE html>
<html>
<head>
    <title>Members Area</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <p>Hello, <%= name %>!</p>
        <img src="/image1.jpg" style="max-width: 300px;">
        <br>
        <img src="/image2.png" style="max-width: 300px;">
        <br>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>